@use "../mixin.scss" as mixin;

#main {

    left: 0;
    right: 0;
    margin: auto;
    min-width: 25vh;
}

@include mixin.media(sp) {
    #main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
    }
}

@include mixin.media(tab) {
    #main {
        max-width: 800px;
    }
}

@include mixin.media(pc) {
    #main {
        width: 1200px;
    }
}

@include mixin.media(widepc) {
    #main {
        width: 1500px;
    }
}