@use "../../commons/color_variables.scss" as color_variables;
@use "../../mixin.scss" as mixin;

.message_window {
  background-color: color_variables.$modal_window_color;
  padding: 30px;
  max-width: 430px;
  width: 100%;
  transform: translateY(60%) translateX(0%);
  opacity: 1;
  margin: auto;
  z-index: 10000;
  text-align: center;
  -webkit-transform: translateY(60%) translateX(0%);
  -moz-transform: translateY(60%) translateX(0%);
  -ms-transform: translateY(60%) translateX(0%);
  -o-transform: translateY(60%) translateX(0%);
}
.message_icon {
  max-width: 256px;
  width: 100%;
  vertical-align: middle;
}
@include mixin.media(sp) {
  .message_window {
    transform: translateY(25%) translateX(0%);
    max-width: 320px;
    -webkit-transform: translateY(25%) translateX(0%);
    -moz-transform: translateY(25%) translateX(0%);
    -ms-transform: translateY(25%) translateX(0%);
    -o-transform: translateY(25%) translateX(0%);
}
  .messsage_action_button{
    width: 100%;
  }
}
@include mixin.media(tab) {
  .messsage_action_button{
    width: 80%;
  }
}
@include mixin.media(pc) {

}