@use "../../commons/color_variables.scss" as color_variables;
@use "../../mixin.scss" as mixin;
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}
#popup_overray {
  position: absolute;
  margin: auto;
  top:0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: color_variables.$modal_background_color;
  animation: show 0.5s linear 0s;
}
