@use "../../commons/color_variables.scss" as color_variables;
@use "../../mixin.scss" as mixin;
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#popup_overray {
  position: absolute;
  float: inherit;
  margin: 0;
  left: 0;
  z-index: 91919;
  width: 100vw;
  height: 100%;
  background-color: color_variables.$modal_background_color;
  animation: show 0.5s linear 0s;
}
