// メインテーマ色
$background_color : #999999;
$main_color: #697068;

//記事背景色
$article_background_color : #d6d6d6;

$main_color_activated:  #adadad;
$main_color_disabled:  #949494;

// 白文字色
$white_background: #FAF6FA;

// 陰影色
$shadow_color_standard : #adadad;

//アクセント色
$accent_color_red : #fd8080;
$accent_color_red_activated : #e97070;
$accent_color_red_disabled : #ffa9a0bb;