// メインテーマ色
$background_color: #6f9b8b;
$main_color: #475046;
$border_color: #62726d;

//記事背景色
$article_background_color: #d8d8d8;
$article_body_background_color: #f0ecec; //記事本文部のバックグラウンドカラー
$article_code_background_color: #383838;
$article_border_color: #424242;
$article_pagetitle_textcolor: #3d3d3d;
$article_header_border: #62726d;

// コンタクトページ色
$contact_background_color: #d6d6d6;

// modal
$modal_background_color: #38383875;
$modal_window_color: #e7e7e7;
//記事リスト
//先頭ベルト色
$article_list_background_color: #f6f6f6;

//MD背景色
$md_header_border: #9faaa6;

//コンテンツヘッダ
//背景色
$contents_header_background_color: #354547;

//ボタン色有効無効
$main_color_activated: #adadad;
$main_color_disabled: #949494;

// 白文字色
$white_textcolor: #faf6fa;
// 文字色
$base_textcolor: #2e2e2e;
//link色
$base_linkcolor: #424242;

// 陰影色
$shadow_color_standard: #adadad;

//アクセント色
$accent_color_yerrow: #d6cc70;
$accent_color_red: #fd8080;
$accent_color_red_activated: #e97070;
$accent_color_red_disabled: #ffa9a0bb;
$accent_color_normal: #5a5a5a;
