@use "../commons/color_variables.scss" as color_variables;
@use "../mixin.scss" as mixin;

@include mixin.media(sp) {
  #contact_view_wrapper {
    min-height: 500px;
    min-width: 365px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #contact_information_wrapper {
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 0 0 0 15px;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #contact_image_wrapper {
    grid-row: 1/1;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .contact_image {
    margin: 16px;
    max-height: 900px;
    max-width: 100%;
  }
  .sp_left {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .sp_right {
    grid-row: 1/1;
    grid-column: 2/2;
  }
  .sp_only {
    display: block;
  }
  .pc_only {
    display: none;
  }
}
@include mixin.media(tab) {
  #contact_view_wrapper {
    min-height: 800px;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #contact_information_wrapper {
    grid-row: 1/3;
    grid-column: 2/3;
    margin: 70px 0 0 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #contact_image_wrapper {
    grid-row: 1/1;
    grid-column: 1/1;
    display: block;
  }
  .contact_image {
    margin: 16px;
    max-height: 900px;
    max-width: 100%;
  }
  .sp_only {
    display: none !important;
  }
  .pc_only {
    display: block !important;
  }
}
@include mixin.media(pc) {
  #contact_view_wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 600px 1fr;
    max-height: 900px;
  }
  #contact_information_wrapper {
    grid-row: 1/3;
    grid-column: 2/3;
    margin: 70px 0 0 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #contact_image_wrapper {
    grid-row: 1/3;
    grid-column: 1/1;
    display: block;
  }
  .contact_image {
    margin: 16px;
    max-height: 900px;
    max-width: 100%;
  }
  .sp_only {
    display: none;
  }
  .pc_only {
    display: block;
  }
}
@include mixin.media(widepc) {
}
#contact_view_wrapper {
  margin: 10px 0 0 0;
  display: grid;
  background-color: color_variables.$contact_background_color;
}

#contact_image {
  max-width: 100%;
}
