@use "../commons/color_variables.scss" as color_variables;
@use "../mixin.scss" as mixin;

$buttom_image_size: 64px;
@include mixin.media(sp) {
  #article_view_wrapper {
    width: 97%;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 150px 95px 1fr;
  }
  #article_view {
    grid-row: 1/4;
    grid-column: 1/3;
  }
  .article_top_information {
    grid-row: 2/2;
    grid-column: 1/3;
  }
  #article_top_wrapper {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  #article_view {
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 0.2em;
  }
  #article_border {
    grid-row: 2/2;
    grid-column: 1/3;
  }

  #article_information_margin {
    display: none;
  }
}
@include mixin.media(tab) {
  #article_view_wrapper {
    max-width: 800px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 150px 95px 1fr;
  }
  #article_view {
    grid-row: 1/4;
    grid-column: 1/3;
  }
  .article_top_information {
    grid-row: 2/2;
    grid-column: 1/1;
  }
  #article_top_wrapper {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  #article_view {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  #article_border {
    grid-row: 2/2;
    grid-column: 1/3;
  }
  #article_information_margin {
    display: none;
  }
}
@include mixin.media(pc) {
  #article_view_wrapper {
    width: 1200px;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 150px 135px 1fr;
  }
  #article_view_wrapper {
    margin: 0 0 0 0;
  }
  .article_top_information {
    grid-row: 2/2;
    grid-column: 1/3;
  }
  #article_top_wrapper {
    grid-row: 2/3;
    grid-column: 1/1;
  }
  #article_view {
    grid-row: 1/4;
    grid-column: 2/3;
  }
  #article_border {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #article_information_margin {
    display: block;
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: color_variables.$article_header_border;
    height: 100%;
  }
}
@include mixin.media(widepc) {
  #article_view_wrapper {
    width: 1500px;
  }
}
#article_view_wrapper {
  min-height: 95vh;
  background-color: color_variables.$article_background_color;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
}
#article_title {
  color: color_variables.$article_pagetitle_textcolor;
  font-size: 30px;
}
#article_top_wrapper {
  padding: 1em;
  height: 100%;
  display: grid;
}
.article_top_information {
  font-size: 12px;
}
#article_view {
  display: grid;
  grid-template-columns: 4fr 200px;
  grid-template-rows: 1fr;
  color: color_variables.$base_textcolor;
  padding: 1em;
}

#article_border {
  padding: 0px 1em 0px 1em;
  background-color: color_variables.$article_header_border;
}
#article_border_links {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-template-rows: 9fr 1fr;
  > hr {
    grid-column: 1/6;
    grid-row: 2/2;
    height: 1px;
    width: 100%;
    margin: 4px 0 0px 0;
  }
  > .border_link {
    grid-row: 1/1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin: 0 auto;

    > a {
      color: color_variables.$white_textcolor;
    }
  }
}

.border_button_img {
  max-width: $buttom_image_size;
}

.chotto_small {
  height: calc($buttom_image_size * 0.75);
}
.border_last{
  grid-column: 5/5;
}
