@use "../commons/color_variables.scss" as color_variables;
@use "../mixin.scss" as mixin;
@include mixin.media(sp) {
    #article_view_wrapper {
        width: 97%;
    }
}
@include mixin.media(tab) {
    #article_view_wrapper {
        width: 800px;
    }
}
@include mixin.media(pc) {
    #article_view_wrapper {
        width: 1000px;
    }
}
#article_view_wrapper {
  height: 100%;
  
  background-color: color_variables.$article_background_color;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
