@use "../commons/color_variables.scss" as color_variables;
@use "../mixin.scss" as mixin;

@include mixin.media(sp) {
  #article_side_menu {
    display: none;
  }
  #article_body {
    grid-column: 1/3;
  }
}
@include mixin.media(tab) {
  #article_side_menu {
    width: 187px;
  }
}
@include mixin.media(pc) {
  #article_side_menu {
    max-width: 220px;
  }
}
#article_body {
  border: dotted 1px;
  border-color: color_variables.$article_border_color;
  background-color: color_variables.$article_body_background_color;
}
#article_side_menu {
  padding: 0.5em;
  position: fixed;
}
