@use "commons/color_variables.scss" as color_variables;

input[type="text"] {
  border: 1px solid;
  border-color: color_variables.$background_color;
  padding: 0.5em 0.5em 0.5em;
  margin: 0.2em;

  &:focus {
    background: color_variables.$background_color;
  }
}

input[type="button"] {
  border: 0px solid;
}

html {
  min-height: 100vh;
  min-width: 365px;
  z-index: 1;
  background: color_variables.$background_color;
  background-size: 320px;
  background-repeat: space;
  background-image: url("~@/assets/Sheepkai.net_moji.png");
  background-attachment: fixed;
  background-position: center;
}

div {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}
a {
  color: color_variables.$base_linkcolor;
}

#app {
  margin: 0;
  padding: 0;
  height: calc(100%);
}
#bg_img {
  height: 100%;
  background: color_variables.$background_color;
  background-size: 320px;
  background-repeat: space;
  background-image: url("~@/assets/Sheepkai.net_moji.png");
  background-attachment: fixed;
  background-position: center;
}

body > #bg_img {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}
.btn_standard {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: color_variables.$main_color;
  color: color_variables.$white_textcolor;
  border: none;
  box-shadow: 2px 2px 4px color_variables.$shadow_color_standard;
  &:active {
    background-color: color_variables.$main_color_activated;
    box-shadow: none;
  }

  &:disabled {
    background-color: color_variables.$main_color_disabled;
  }
}

.btn_danger {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: color_variables.$accent_color_red;
  color: color_variables.$white_textcolor;
  border: none;
  box-shadow: 2px 2px 4px color_variables.$shadow_color_standard;
  &:active {
    background-color: color_variables.$accent_color_red_activated;
    box-shadow: none;
  }

  &:disabled {
    background-color: color_variables.$accent_color_red_disabled;
  }
}

button {
  cursor: pointer;  
}
