.main_menu {

    position: absolute;
    top: 45%;
    left: 50%;
    width: 968px;
    height: 530px;
    transform: translate(-50%, -50%) ;
    border: 1px solid #ccc; /* 枠線 */
    background-color:#efefef; 
}
